<ActionBar class="action-bar">
    <NavigationButton visibility="collapsed"></NavigationButton>
    <StackLayout>
        <GridLayout columns="35 * 45">
            <Label [text]="'fa-bars' | fonticon" (tap)="toggleDrawer()" class="fa center" col="0"></Label>
            <Label [text]="'HOME.TITLE' | translate" class="actionbar-title" col="1"></Label>
        </GridLayout>
    </StackLayout>
</ActionBar>

<ScrollView>
    <DockLayout stretchLastChild="false" class="full" [ngClass]="setClasses()" height="100%" width="100%">
        <Label dock="top" text="I am on top!"></Label>
        <StackLayout dock="bottom" orientation="horizontal" height="100" style="background-color: yellow">

            <Button class="btn" text="Start" (tap)="startListening() "></Button>
            <Button class="btn" text="Stop" (tap)="stopListening() "></Button>

        </StackLayout>
    </DockLayout>
    <!-- <Button class="btn " text="Speak Hela " (tap)="SpeakHela() "></Button>
        <Button class="btn " text="Speak Galadriel " (tap)="SpeakGaladriel() "></Button>
        <Button class="btn " text="Speak Directions " (tap)="SpeakDirections() "></Button>
        <Button class="btn " text="Directions " (tap)="showDirections() "></Button> -->
    <!-- <img [src]="image " alt=" " style="width: 350; border-radius: 175; border-width: 15; border-color: yellow; "> -->
</ScrollView>