<ActionBar class="action-bar">
    <NavigationButton visibility="collapsed"></NavigationButton>
    <GridLayout columns="*">
        <StackLayout orientation="horizontal" col="0">
            <Label [text]="'fa-sliders' | fonticon" (tap)="showSlider()" class="fa"></Label>
            <Label [text]="'fa-music' | fonticon" (tap)="showGuessThatSong()" class="fa"></Label>
            <Label [text]="'fa-microphone' | fonticon" (tap)="showSpeechRecognition()" class="fa"></Label>
        </StackLayout>
    </GridLayout>
</ActionBar>

<ScrollView>
    <DockLayout stretchLastChild="false" class="full" [ngClass]="setClasses()" height="100%" width="100%">
        <VideoPlayer dock="top" #videoplayer src="~/assets/video/storm.mp4" autoplay="false" height="100%" controls="true" [visibility]="isVideoVisible ? 'visible' : 'collapsed'"></VideoPlayer>
        <Label dock="top" [text]="recognizedText" textWrap="true" class="recognizedText" [visibility]="isListening ? 'visible' : 'collapsed'"></Label>

        <StackLayout dock="bottom" orientation="horizontal" style="height:100; margin-bottom: 20">
            <GridLayout rows="*" columns="*, *">
                <Button row="0" col="0" class="fa button button-square" [text]="'fa-assistive-listening-systems' | fonticon" (tap)="startListening() "></Button>
                <Button row="0" col="1" class="fa button button-square" [text]="'fa-stop' | fonticon" (tap)="stopListening() "></Button>
            </GridLayout>
        </StackLayout>
    </DockLayout>
</ScrollView>