<ActionBar class="action-bar">
    <NavigationButton visibility="collapsed"></NavigationButton>
    <GridLayout columns="*">
        <StackLayout orientation="horizontal" col="0">
            <Label [text]="'fa-sliders' | fonticon" (tap)="showSlider()" class="fa"></Label>
            <Label [text]="'fa-music' | fonticon" (tap)="showGuessThatSong()" class="fa"></Label>
            <Label [text]="'fa-microphone' | fonticon" (tap)="showSpeechRecognition()" class="fa"></Label>
        </StackLayout>
    </GridLayout>
</ActionBar>
<ScrollView>

    <StackLayout class="page page-content">

        <StackLayout>

            <FlexboxLayout class="spinner-wrapper">
                <Image [src]="Image" class="spinner"></Image>
            </FlexboxLayout>

            <GridLayout rows="*, *" columns="*, *" style="padding: 0 20">
                <Button row="0" col="0" text="Random lyric" (tap)="PickRandomLyric()" class="button"></Button>
                <!-- <Button row="1" col="0" text="Play lyric again" (tap)="SpeakLyric()" class="button"></Button> -->
                <Button row="0" col="1" [text]="'fa-play' | fonticon" (tap)="PlaySong()" class="fa button" rowSpan="2"></Button>
                <Button row="1" col="0" text="T-Shirt lyric" (tap)="PickNativeLyric()" class="button"></Button>
            </GridLayout>

            <StackLayout class="info" [visibility]="isInfoVisible ? 'visible' : 'collapsed'">
                <Label [text]="Artist" textWrap="true"></Label>
                <Label [text]="Title" textWrap="true"></Label>
                <Label [text]="Year" textWrap="true"></Label>
                <Label [text]="Lyric" textWrap="true" style="margin-top: 10"></Label>
            </StackLayout>
        </StackLayout>

    </StackLayout>

</ScrollView>